<!DOCTYPE html>
	<html>

	<head>
		<title>Log in</title>
	</head>

	<body>
		<!---Login form -->
		<div class="container">
			<label for="uname"><b>Username</b>
			<input type="text" placeholder="Enter Username" name="uname" required>
		</div>
	

		<!-- Email form -->
		<div class ="container">
			<label for="email"><b>Email</b>
			<input type="email" placeholder="Enter email address" name = "email" id="email" required>
		</div>

		<!-- password form-->

		<div class="container">
			<label for="psw"><b>Password</b>
			<input type="text" placeholder="Enter password" name="psw" required>
		</div>

		<!-- Confirm password-->

		<div class="container">
	     		<label for="npsw"><b>Confirm password</b>
			<input type="text" placeholder="Re-enter password" name="npsw" required>
		</div>

		<a href="http://www.google.com">Already a member?</a>
		<br>

		<button type="button"> Sign up </button>


	<style>
		.container{
			padding: 8px;
		}

		body {
			background-color: white;
			font-size: 16px;
		}

	</style>

	</body>
	</html>

